.streamgraph-container, .heatmap-container {
    padding: 10px;
    background-color: #aaa;
    border-radius: 5px;
    margin-bottom: 20px;
}
code {
    max-height: 25em;
}
hr {
    border-top: solid 1px #bbb;
}
.csv-table {
    max-width: 100%;
    max-height: 25em;
    overflow: scroll;
    padding: 9px;
    border:1px solid #ccc;
    border-radius: 4px;
    background-color: #f5f5f5;
    margin-bottom: 10px;
}
table {
    white-space: nowrap;
}
table td {
    border: solid 1px #888;
    padding: 4px;
}
svg rect.bordered {
    stroke: #aaa;
    stroke-width:2px;
}
.iframe-container {
    width: 100%;
    border: solid 1px #f5f5f5;
    border-radius: 5px;
    overflow: hidden;
}
.iframe-container iframe {
    width: 100%;
}
img.countit {
    width: 100%;
    margin: 10px 0;
    border-radius: 4px;
}